In [1]:
# utilities
import re
import numpy as np
import pandas as pd
# plotting
import seaborn as sns
# from wordcloud import WordCloud
import matplotlib.pyplot as plt
# nltk
from nltk.stem import WordNetLemmatizer
# sklearn
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
DATASET_COLUMNS=['target','ids','date','flag','user','text']
DATASET_ENCODING = "ISO-8859-1"
df = pd.read_csv('data.csv', encoding=DATASET_ENCODING, names=DATASET_COLUMNS)
df.sample(5)

,target,ids,date,flag,user,text
602788,0,2221488831,Thu Jun 18 05:28:44 PDT 2009,NO_QUERY,Tugboatwilly86,"Rain, rain, go away."
1343915,4,2039805881,Thu Jun 04 22:51:14 PDT 2009,NO_QUERY,carrot_girl,Yay watchin Home and Away
1066168,4,1965258552,Fri May 29 15:36:13 PDT 2009,NO_QUERY,lindsayeden,@Jonasbrothers all of them
517676,0,2191353129,Tue Jun 16 05:05:46 PDT 2009,NO_QUERY,leeshamak,So... talked to the superintendant of schools....
192802,0,1969930909,Sat May 30 01:46:37 PDT 2009,NO_QUERY,graffitimath_24,Is kris allen's account really all fake?

In [14]:
sdf = df.sample(frac=0.065)

In [15]:
sdf.shape

(104000, 6)

In [16]:
df2 = sdf[['text', 'target']].copy()

In [17]:
df2.shape

(104000, 2)

In [18]:
df2.to_csv('ndata.csv', index=False)

In [19]:
nd = pd.read_csv('ndata.csv')

In [20]:
nd.head()

                                                text  target
0  @IAmBhargava If u r paying the bill, Cable Car...       4
1  @Popcorn_Nut  awww noo! that's a shame. i had ...       0
2  @Serenade13 read previous tweet to @hakuna_mat...       4
3  @magicswebpage That's how it goes   it sucks.....       0
4  yay we changes rooms! classrooms I mean. I mig...       4

In [21]:
nd.shape

(104000, 2)

In [22]:
nd['target'].value_counts()

4    52125
0    51875
Name: target, dtype: int64